<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575619592898-8roitp910q8qie5q4imfdalghucbnc08.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575619592898-8roitp910q8qie5q4imfdalghucbnc08</string>
	<key>API_KEY</key>
	<string>AIzaSyBoP-soV-c8KoGXXJ9NMyZxb3DsRcqk4Ww</string>
	<key>GCM_SENDER_ID</key>
	<string>575619592898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.choose.Forabet-Challenge</string>
	<key>PROJECT_ID</key>
	<string>forabet-challenge</string>
	<key>STORAGE_BUCKET</key>
	<string>forabet-challenge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575619592898:ios:599672255e4b5a4574815b</string>
</dict>
</plist>